/* font style all page  */
@import url('https://fonts.googleapis.com/css2?family=Arima&family=Gentium+Book+Plus:ital@1&family=Lobster&family=Nunito&family=Poppins:wght@500&family=Roboto:wght@300;400&family=Ubuntu&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
/*----------------
   part 1 section
 -----------------*/
.first-part{
    display: flex;
    width: 100%;
    height: 600px;
}
.article{
    margin-right: 130px;
    margin-left: 120px;
    margin-top: 145px;
}
.camera{
    margin-right: 132px;
    margin-top: 50px;
}
.text-d{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
.para-g{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A
}
.butt-1{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    border: 1px solid #E02C6D;
    color: white;
}
#camera-1{
    position: relative;
    top: 50px;
    z-index: 2;
}
#svg{
    position: relative;
    top: -400px;
    z-index: 1;
}
/*-----------------
 part 2 start media
 ------------------*/
 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.media{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 1110px;
    height: 110px;
    border: 1px solid gray;
    border-radius: 20px;
}
.media-1{
    margin-top: 0;
    margin: 30px 30px;
}
/*-----------------
 part 3 start media
 ------------------*/
 .boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
 }
 .text-3{
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
    text-align: center;
 }
.box{
    width: 329px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.box .box-img{
    width: 300px;
    height: 256px;
    margin: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.box .text-2{
    font-weight: 500;
    font-size: 24px;
    color: #18191F;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}
.box .information{
    margin-left: 15px;
}
.box .information .dolar{
    font-weight: 250;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 5px;
    margin-bottom: 10px;
}
.box .information .fa-star.full{
    color: gold;
    font-size: 11px;
    margin-bottom: 0;
}
.box .information .fa-star-half{
    color: gold;
    font-size: 11px;
    margin-bottom: 0;
}
.box .information .para-s{
    font-size: 11px;
    color: #787885;
    margin-bottom: 0;
}
.box .information .para-i{
    font-weight: 400;
    font-size: 14px;
    color: #787885;
    margin-bottom: 10px;
}
.icon-1{
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    color: rgba(224, 44, 109, 0.87);
    margin-top: 50px;
}
/*-----------------
 part 4 start media
 ------------------*/
 .fourth-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1110px;
    height: 270px;
    margin: 100px 165px;
 }
 .gaset .gaset-1{
    width: 404px;
    height: 270px;
    border-radius: 7px;
 }
 .atricle .text-l{
    font-weight: 700;
    font-size: 34px;
    color: #0A0826;
 }
 .atricle .para-l{
    font-weight: 550;
    font-size: 16px;
    color: #6C6C6C;
 }
 .atricle .butt-2{
    background-color: #E02C6D;
    border: 1px solid #E02C6D;
    padding: 10px 29px;
    color: white;
    font-weight: 400;
 }